body {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)),
      url(../img/fondo5.webp);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    width: 100%;   
}


.busqueda {
    display: grid;
    grid-template-columns: 2fr 0.1fr;
    width: 100%;
    height: 50px;
    margin: 5% 20% 0% 20%;

}

.busqueda input{
    margin-right: -12%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.692);
    border-color: rgb(121, 121, 121);
    text-align: center;
    font-size: larger;
    color: rgb(0, 0, 0);
}

.busqueda img {
    display: block;
    cursor: pointer;
    width: 30px;
    margin: 30% 15% 30% 30%;
    padding: 5%;

    text-align: center;
}

.container {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .carta{
    width: 25%;
    max-width: 180px;
    min-width: 180px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0,2px rgba(2px, 0px, 4px, 0.1);
    margin: 3%;
    text-align: center;
    transition: 0.5s;
    background-position: center;
    cursor: pointer;
    border-style: groove;
    border-color: rgba(0, 0, 0, 0.329);
}

.container .amazonas{
    background-position: left;
}

.container .carta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.8);
    border-color: rgba(0, 0, 0, 0.801);
}


.container .carta h4{
    display: none;
    position: relative;
    color: aliceblue;
    padding-top: 64%;
    padding-bottom: 65%;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 5;
}

.container .carta:hover h4{
    display: block;
}

.container .card a{
    font-weight: 500;
}

main h1{
    text-align: center;
    font-size: 70px;
}