
.forma {
    display: grid;
    min-width: 680px;
    width: 100%;
    height: 15%;
    grid-template-columns: 2fr 5fr 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.651);
    position: fixed;
    transition: 0.5s ease-in;
}

.bajo {
    display: grid;
    min-width: 680px;
    width: 100%;
    height: 15%;
    grid-template-columns: 2fr 5fr 1fr 1fr;
    background-color: rgb(119, 117, 117);
    position: fixed;
    transition: 0.5s ease-out;
}

.forma #logo {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    width: 100%;
    color: aliceblue;
}

.bajo #logo {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        width: 100%;
        color: rgb(0, 0, 0);
}

#logo img{
    cursor: pointer;
    align-items: center;
    margin: auto;
}
#logo h3{
    margin: auto;
}

.forma #buscar {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    margin: 20px;
    align-content: center;
    align-items: center;
}

.forma #buscar input{
    text-align: center;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.904);
    background-color: rgba(20, 20, 20, 0.767);
    color: aliceblue;
    padding: 10px;
    margin-right: -50px;
}

.bajo #buscar input{
    text-align: center;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.904);
    background-color: rgba(223, 221, 221, 0.767);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-right: -50px;
}

.forma #buscar input:active,.forma #buscar input:focus {
    background-color: rgb(32, 32, 32);
}

.bajo #buscar input:active,.bajo #buscar input:focus {
    background-color: rgb(172, 172, 172);
}

#buscar img {
    display: flex;
    cursor: pointer;
    margin-top: 1px;
    padding-left: 15px;
    width: 40px;
    align-content: flex-start;
}

#buscar input::selection {
    border: 0ch;
    border-color: black;
}

.forma .inicio, .forma .contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: auto;
}


.forma .inicio a,.forma .contacto a{
    text-decoration: none;
    align-content: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.bajo .inicio a,.bajo .contacto a{
    text-decoration: none;
    align-content: center;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.forma .inicio a:hover,.forma .contacto a:hover {
    font-size: larger;
    color: rgb(4, 231, 61);
}

.bajo .inicio a:hover,.bajo .contacto a:hover {
    font-size: larger;
    color: rgb(9, 40, 143);
}

.opcion{
    display: inline;
    font-size: large;
    padding: 0 3%;
    text-align: center;
}

.opcion ul a {
    background-color: black;
}

/* 