
form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    padding: 5%;
    margin: 10px 20%;
}
form div{
    display: grid;
    grid-template-rows: auto;
    border-radius: 20px;
    padding: 5%;
    border-style: dotted;
    border-color: black;
}

.img {
    margin: auto;
    padding-bottom: 20px;
}

form input,button, h3{
    text-align: center;
    border-radius: 50px;
    margin: 10px 10%;
    padding: 2%;
    }

form button{
    padding: 2%;
    margin: auto;
}
.editar{
    cursor: pointer;
    padding: 1.5% 7%;
    color: blue;
    border-style: none;
}

.eliminar {
    border-style: none;
    cursor: pointer;
    color: brown;
}

.eliminar:hover{
    background-color: brown;
    color: white;
}

.editar:hover {
    background-color: blue;
    color: white;
}

